@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');


// text
$bodyTextColor-active: hsl(238, 29%, 16%);
$arrowColor: hsl(14, 88%, 65%);


// background
$BG-violet: hsl(273, 75%, 66%);
$BG-blue: hsl(240, 73%, 65%);


// neutral text
$body-TextColor-inactive: hsl(237, 12%, 33%);
$body-TextColor-dropdown: hsl(240, 6%, 50%);

// divider
$line-divider: hsl(240, 5%, 91%);

// typography
$body-font-size: 12px;

$Kumbh-sans: "Kumbh Sans", sans-serif;